
/* Specificity & When to use Selectors */

body{
    /* font-family: "Geogia",serif;  /*so this code ssays that first use times new roman and if Geogia is not available then use serif */
    font-family: sans-serif;
    /* font-family: 'Patrick Hand', cursive, serif; */
    text-align: justify;
    color:black;
    font-size: 1em;  /*1.2 is for patric */
    /*font-weight: 400;  /*400 is the standart range fool!! */


    /* background: linear-gradient(to right, rgb(6, 110, 196), rgba(255, 229, 108,0)); */
    background: linear-gradient(to bottom right, rgb(6, 110, 196), rgb(255, 229, 108));
    /* background: radial-gradient(circle,rgb(255, 229, 108)10%,rgb(6, 110, 196)60%); */
    /* background-color: rgba(53,111,159,0.4);  */
    /* background-color: rgb(53,111,159);  */
    /* background-image: url("https://imgr.search.brave.com/SHF7hXl9nPE9kfav74gyyOLeEJQf-qrj2k1OgqpsPNA/fit/1170/800/ce/1/aHR0cHM6Ly9pMi53/cC5jb17vZ2V0Y29k/aWZ5LmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNi8xMC9Q/eXRob25fbG9nby5q/cGc_Zml0PTE4OTAl/MkM4MDAmc3NsPTE"); */
    /*background-size: contain;  /*This resizes the image without messing with others
    background-repeat: no-repeat;*/

}

p{
    font-size: 17px;
    /* font-size: 1.2em;  /*this is for patric */
}

#python-founder {
    height: 300px;
    /* width: 23%; */
    border: 2px double rgb(34, 24, 97);
    /* margin: 80px 40px; */
    /* padding: 100px 40px 5px 0px; */
    /* margin: 50px ; */
    /* padding: 50px ; */
    /* float: right; */
    /* display: none;  /*Very very commanly used  */
    /* display: inline-block; */
    /* display: inline; */
    display: flex;
}


h1:hover{
    color: tomato;
}

#python-info:hover{
    color: tomato;
}

.theme:hover{
    color: tomato;
}

.title{
    color: rgb(255, 229, 108);
}

#python-info{
    color: rgb(255, 229, 108);
}

.theme{
    color: rgb(255, 229, 108);
}

.header-style{
    text-decoration:underline ;
    text-decoration-style: double ;
    text-decoration-color: rgb(255, 229, 108);
    font-style: italic;
}

.textbox{
    height: 300px;
    width: 60%;
    font-size:17pt;
}

.container {
    /* background-color: white; */
    margin: 10px;
    height: 300px;
    display: flex; /*Flex box tutorial */
    flex-direction:row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  /*it creates spaces all around */
    justify-content: space-evenly;
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /*align-items: baseline;  /*no matter the size of the object is it wil be always in the baseline */
}

.container-item {
    background: red;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}
/* These are called Pseudoselectors */

li:first-child{
    color:springgreen;
    font-size: 17px
}


li:nth-child(2){
    color:rgb(300, 138, 10);
    font-size: 17px
}                                   /* Sudo Selectorss are the most supreme selectors */

li:last-child{
    color:gold;
    font-size: 17px
}

li:only-child{
    color:brown;
    font-size: 17px;
}

/* a{
    color: rgb(238, 255, 0);
}

#Pyhtonlink:link{
    color: rgb(238, 255, 0)
}

#Pythonlink:visited{
    color:greenyellow;
} */

/* Advanced Selectors */
/* General Sibiling */

h2 + a {
    color: turquoise;
}

textarea ~ button {     /*This says that every button below the textarea in same PARENT*/
    color: purple;
}

/* ul > li {         /* This says that only every single li inside of the ul 
    color: sandybrown;
}    This is a child selector*/

/*ul li{        /* This actually selects all the tags inside th ul that is li 
    color: sandybrown;
}*/


/* Attribute Selectors */


h2[class = theme] {
    color: rgb(255, 229, 108);
}


/* This * symbol says that every single image that starts with this src value right here */
/* img[src*="D:/【JERIN】/PICS/"] {
    border: 10px solid black;
} */



/* these '{}' are called CSS blocks */
/* selector {
    property: value;
    property2: value;
    property3: value;
} */

/* ********************************************************* */

/* Start of new session */

/* Text mainpulation */

#Pythonlink {
    /* text-decoration: none;
    text-decoration: line-through;
    text-decoration: overline; */
    text-decoration: underline;
}

/* .info {
    text-transform:capitalize;
} */















