
/* Specificity & When to use Selectors */

body{

    /* font-family: "Geogia",serif;  /*so this code ssays that first use times new roman and if Geogia is not available then use serif */
    /* font-family: sans-serif; */
    font-family: 'Patrick Hand', cursive, serif;
    text-align:left;
    color:black;
    font-size: 1.2em;
    /* font-size: 1.4em;  1.2 is for patric */
    /* font-size: 17px; */
    /* font-weight: 400;  400 is the standart range fool!! */


    /* background: linear-gradient(to right, rgb(6, 110, 196), rgba(255, 229, 108,0)); */
    background: linear-gradient(to bottom right, rgb(13, 70, 117), rgb(210, 230, 247));
    /* background: radial-gradient(circle,rgb(255, 229, 108)10%,rgb(6, 110, 196)60%); */
    /* background-color: rgba(53,111,159,0.4);  */
    /* background-color: rgb(53,111,159);  */
    /* background-image: url("https://imgr.search.brave.com/SHF7hXl9nPE9kfav74gyyOLeEJQf-qrj2k1OgqpsPNA/fit/1170/800/ce/1/aHR0cHM6Ly9pMi53/cC5jb17vZ2V0Y29k/aWZ5LmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNi8xMC9Q/eXRob25fbG9nby5q/cGc_Zml0PTE4OTAl/MkM4MDAmc3NsPTE"); */
    /*background-size: contain;  /*This resizes the image without messing with others
    background-repeat: no-repeat;*/


}

#main-container {
    /* margin-left: -20px; */
    margin-right: 80px;
    margin-left: 80px;
}

@media screen and (max-width: 873px) {
    #main-container {
        margin-right: 8px;
        margin-left: 8px;
        
    }

}

p{
    /* font-size: 17px; */
    font-size: 1.2em;  /*this is for patric*/
    text-align: justify;
}

ul {
    text-align: left;
}

form {
    text-align:left;
}

#python-logo {
    width: 100%;
}

#python-founder {
    width: 140px;
    border: 2px double rgb(34, 24, 97);
    /* margin: 80px 40px; */
    /* padding: 100px 40px 5px 0px; */
    /* margin: 50px ; */
    /* padding: 50px ; */
    /* float: right; */
    /* display: none;  /*Very very commanly used  */
    /* display: inline-block; */
    /* display: inline; */
    /* display: flex; */


}


h1:hover{
    color: tomato;
}

#python-info:hover{
    color: tomato;
}

.theme:hover{
    color: tomato;
}

.title{
    color: rgb(255, 229, 108);
}



.theme{
    color: rgb(255, 229, 108);
}

.header-style{
    /* text-decoration:underline ;
    text-decoration-style: double ; */
    text-decoration-color: rgb(255, 229, 108);
    font-style: italic;
}

.textbox{
    height: 240px;
    width: 690px;
    font-size:  1.2em;;
    font-family: 'Patrick Hand', cursive, serif;
    border-radius: 15px;
    /* text-align: center; */
}

.name-box {
    width: 340px;
    font-size:  1.2em;;
    font-family: 'Patrick Hand', cursive, serif;
    border-radius: 10px;
    /* text-align: center; */
}

.email-box {
    width: 340px;
    font-size:  1.2em;;
    font-family: 'Patrick Hand', cursive, serif;
    border-radius: 10px;
    /* text-align: center; */
}

@media screen and (max-width: 813px) {
    .name-box {
        width: 280px;
    }

    .email-box {
        width: 280px;
    }

    .textbox {
        width: 470px;
    }

}

@media screen and (max-width: 573px) {

    .textbox {
        width: 90%;
    }

    .name-box {
        width: 90%;
    }

    .email-box {
        width: 90%;
    }

}

.links-container {
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    border-top: 200%;
    height: 100%;
    display: flex; /*Flex box tutorial */
    flex-direction:row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    justify-content: space-around;  /*it creates spaces all around
    /* justify-content: space-evenly; */
    align-items: center;
}

@media screen and (max-width: 869px) {
  .links-container {
    box-shadow: none;
    flex-direction:column;
    align-items: flex-start;
  }


}

.links {
    /* align-items: center; */
    padding:1% 3%;
    margin: 2%;
    border-radius: 25px;
    font-size: 1.2em;
    color: white;
    background: rgb(15, 147, 199);
    transition: all 300ms ease-in-out ;
    -webkit-transition: all 300ms ease-in-out ;
    -moz-transition: all 300ms ease-in-out ;
    -o-transition: all 300ms ease-in-out ;

}

.links:hover {
    background: rgb(95, 93, 248);
    color: white;
}


.submit-button {

    margin: 20px 10px;
    padding: 9px 15px;
    border:none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(57, 54, 255);
    border-radius: 25px;
    transition: all 300ms ease-in-out ;
    -webkit-transition: all 300ms ease-in-out ;
    -moz-transition: all 300ms ease-in-out ;
    -o-transition: all 300ms ease-in-out ;
    /* transform: translate(100px, -100px); */
    /* transform: scale(2.4); */
    /* transform: rotate(90deg); */
    /* transform: skewY(-45deg);  this is not rcommended */
    /* transform: matrix(1, 0.45, 0.45, 1, 100, 50); */

}

.submit-button:hover {
    background: rgb(95, 93, 248);
    padding: 13px 30px;  
}

.container {
    /* background-color: white; */
    margin: 10px;
    height: 300px;
    display: flex; /*Flex box tutorial */
    flex-direction:row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  /*it creates spaces all around */
    justify-content: space-evenly;
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: stretch; */
    /*align-items: baseline;  /*no matter the size of the object is it wil be always in the baseline */
}

.container-item {
    background: red;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}
/* These are called Pseudoselectors */

.grid-container {
    margin: 10px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* justify-content: space-around;
    align-content: end; */
    /* grid-gap:  300px 150px; */
}

.grid-item {
    color: black;
    font-size: 20px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

li:first-child{
    /* color:springgreen; */
    font-size: 1.2em;
}


li:nth-child(2){
    /* color: rgb(300, 138, 10); */
    font-size: 1.2em;
}                                   /* Sudo Selectorss are the most supreme selectors */

li:nth-child(3){
    /* color:gold; */
    font-size: 1.2em;
}   

li:last-child{
    /* color:rgb(172, 43, 43); */
    font-size: 1.2em;
}

li:only-child{
    /* color:rgb(172, 43, 43); */
    font-size: 1.2em;
}

/* a{
    color: rgb(238, 255, 0);
}

#Pyhtonlink:link{
    color: rgb(238, 255, 0)
}

#Pythonlink:visited{
    color:greenyellow;
} */

/* Advanced Selectors */
/* General Sibiling */

h2 + a {
    color: turquoise;
}

textarea ~ button {     /*This says that every button below the textarea in same PARENT*/
    color: purple;
}

/* ul > li {         /* This says that only every single li inside of the ul 
    color: sandybrown;
}    This is a child selector*/

/*ul li{        /* This actually selects all the tags inside th ul that is li 
    color: sandybrown;
}*/


/* Attribute Selectors */


h2[class = theme] {
    color: rgb(255, 229, 108);
}


/* This * symbol says that every single image that starts with this src value right here */
/* img[src*="D:/【JERIN】/PICS/"] {
    border: 10px solid black;
} */



/* these '{}' are called CSS blocks */
/* selector {
    property: value;
    property2: value;
    property3: value;
} */

/* ********************************************************* */

/* Start of new session */

/* Text mainpulation */



/* .info {
    text-transform:capitalize;
} */


@keyframes red-black {
    0% {
        background: rgb(255, 255, 255);
        transform: translate(0px, 0px);
    }

    50% {
        background: yellow;
        transform: translate(10px, 10);
    }

    100% {
        background: rgb(0, 119, 255);
        transform: translate(20px, 20px);
    }
}
@keyframes blinking-effect {
    0% {
        color: rgb(108, 255, 248);
    }

    100% {
        color:rgb(20, 130, 220)
    }
}

#Pythonlink {
    /* text-decoration: none;
    text-decoration: line-through;
    text-decoration: overline; */
    text-decoration: underline;
    animation: blinking-effect;
    animation-duration: 0.15s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#python-info{
    color: rgb(255, 229, 108);
    /* animation: red-black ;
    animation-duration: 4s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    /*animation-iteration-count: 2;
    animation-direction: alternate-reverse; */

}




#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}



footer {
    /* display: flex;
    flex-direction: column; */
    /* box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25); */
    background:rgb(202, 231, 132);
    text-align: center;
    /* fill: rgb(202, 201, 135); */
    padding-top: 20px;
    padding-bottom: 20px;

    
}











